/my-handin-folder/01-tuesday-exercises/day-2-exercises/nbproject/
/my-handin-folder/01-tuesday-exercises/day-2-exercises/target/
/my-handin-folder/01-tuesday-exercises/day-2-exercises-pt2/nbproject/
/my-handin-folder/01-tuesday-exercises/day-2-exercises-pt2/target/
/my-handin-folder/01-tuesday-exercises/day-2-exercises-pt1/target/
/my-handin-folder/02-wednesday-exercises/rest1/target/
/my-handin-folder/02-wednesday-exercises/day-2-exercises-pt2-extended/nbproject/
/my-handin-folder/02-wednesday-exercises/day-2-exercises-pt2-extended/target/
/my-handin-folder/02-wednesday-exercises/JPAExc/nbproject/
/my-handin-folder/02-wednesday-exercises/JPAExc/target/
/my-handin-folder/02-wednesday-exercises/tuesday-extended/nbproject/
/my-handin-folder/02-wednesday-exercises/tuesday-extended/target/